<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <title>Dashboard - Dave's RFID Race Tracking System</title>
</head>
<body>
<div class="container">
    <h1>Dashboard</h1>

    <h2>Vehicle Registry</h2>
    <table class="table table-sm table-striped">
        <thead>
            <th>Vehicle No.</th>
            <th>RFID Tag</th>
            <th>status</th>
            <th></th>
        </thead>
        <% vehicles.forEach(function(vehicle) { %>
        <tr>
            <td><%= vehicle.vehicleNumber %></td>
            <td><%= vehicle.tagHex %></td>
            <td><%= vehicle.status %></td>
            <td>
                <form action="/viewVehicle" method="get">
                    <input type="hidden" name="vehicleId" value="<%= vehicle._id %>">
                    <input type="hidden" name="vehicleNumber" value="<%= vehicle.vehicleNumber %>">
                    <button class="btn btn-success" type="submit">View Details</button>
                </form>
            </td>
        </tr>
        <% }); %>
    </table>

    <form action="/registerVehicle" method="get">
        <button class="btn btn-primary" type="submit">Add New Vehicle</button>
    </form>

    <h2>Race Management</h2>
    <form action="/raceRegistration">
        <button class="btn btn-primary">Start New Race</button>
    </form>

    <h2>Lap Records</h2>
    <table class="table table-striped">
        <thead>
            <th>Record</th>
            <th>Lap Time</th>
            <th>Date/Time</th>
            <th></th>
        </thead>
        <tbody id="lapHistoryTable">

        </tbody>
    </table>

    <h2>Utility</h2>

    <form action="/login/logout" method="get">
        <button class="btn btn-primary" type="submit">Logout</button>
    </form>
</div>
<script>
    //place json data into a variable
    let curLapHistory = <%- JSON.stringify(lapHistory) %>;

    //get the "lapHistoryTable" element
    let lapHistoryTable = document.getElementById("lapHistoryTable");

    //loop through the current lap histories
    for(let i = 0; i < curLapHistory.length; i++)
    {
        //define variables for a lap record and the date it was made
        var tempLapRecord;
        var tempDateMade;

        //check if the record array is empty. if it isn't, define tempLapRecord and tempDate Made with the current lap data
        if(curLapHistory[i].recordArray == 0)
        {
            tempLapRecord = "No Records Exist";
            tempDateMade = " ";
        }
        else
        {
            tempLapRecord = curLapHistory[i].recordArray[0].singleLapTime;
            tempDateMade = curLapHistory[i].recordArray[0].dateMade;
        }

        //add data to the lap history table
        lapHistoryTable.innerHTML += "<tr><th>" + curLapHistory[i].periodString + "</th><td>" + tempLapRecord + "</td><td>" + tempDateMade + "</td><td><form action=\"/viewHistory/submit\" method=\"post\"><input type=\"hidden\" name=\"historyType\" value=\"" + curLapHistory[i].periodString + "\"><button class=\"btn btn-success\">View Previous records</button></form></td></tr>";
    }
</script>
</body>
</html>