<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <title>Race In Progress - David's RFID Race Tracking System</title>
</head>
<body>
<div class="container">
    <h1>Start Race</h1>

    <!-- Race Information -->
    <div id="raceInfo">
        <p>Number of Laps: <%= race.noOfLaps %></p>
        <!-- <p>Race is <%= race.raceState %></p> -->
        <p id="countdown">Countdown: 10</p>
        <p id="stopWatch">00:00:00</p>
    </div>

    <h2>Laps</h2>
    <table class="table table-striped">
        <thead>
            <th>Racer</th>
            <th>Vehicle</th>
            <th>Total Time</th>
            <th>Lap Time</th>
            <th>Lap Number</th>
            <th>Pole Position</th>
        </thead>
        <tbody id="raceLaps">
            <tr>
                <!-- <td>Name</td>
                <td>Vehicle Number</td>
                <td>Time Index</td>
                <td>Lap Time Index</td>
                <td>Lap Number</td>
                <td>Pole Position</td> -->
            </tr>
        </tbody>

    </table>

    <h2>Racers</h2>
    <table class="table table-striped table-sm">
        <thead>
            <th>Racers</th>
            <th>Vehicle Number</th>
            <th>Vehicle Hex Code</th>
            <th>Actions</th>
        </thead>

        <tbody>
            <% race.racers.forEach(function(racer) { %>
            <tr>
                <td><%- racer.racerName %></td>
                <td><%- racer.vehicleNumber %></td>
                <td><%- racer.vehicleRFID %></td>
                <td><button>Remove Racer</button></td>
            </tr>
            <% }); %>
        </tbody>
    </table>

    <div>
        <button class="btn btn-info" id="startBtn">Start Race</button>
    </div>

    <form id="finishBtn" style="display: none;" action="/finishRace/submit" method="post">
        <input type="hidden" name="finishValue" id="finishValue" value="">
        <button class="btn btn-primary" type="submit">Finish Race</button>
    </form>
    <br>
    <form id="stopBtn" action="/stopRace/submit" method="post">
        <button class="btn btn-danger">Stop Race</button>
    </form>
</div>
    <script>
        //html elements
        let countDownDiv = document.getElementById("countdown");
        let stopWatch = document.getElementById("stopWatch");
        let raceLaps = document.getElementById("raceLaps");
        let startBtn = document.getElementById("startBtn");
        let stopBtn = document.getElementById("stopBtn");
        let finishValue = document.getElementById("finishValue");
        let finishBtn = document.getElementById("finishBtn");

        //race data from the DB
        const raceData = <%- JSON.stringify(race) %>;

        //timer variables
        let minutes = 0;
        let seconds = 0;
        let count = 0;
        let timerOn = false;

        let countDown = 10;

        //stopwatch display variables
        let dSecDisp = "";
        let secDisp = "";
        let minDisp = "";

        //lap records for racers
        var racerRecord;
        var lapRecord;
        var currentLap = 0;

        //single lap tracking
        var curLapCount = [];
        var curLapSec = [];
        var curLapMin = [];

        //lap object
        var lap = 
        {
            racerName: String,
            raceVehicle: Number,
            vehicleRFID: String,
            lapTime: String,
            singleLapTime: String,
            lapNumber: Number,
            polePosition: String,
            dateMade: String
        }

        //lap counter for each car
        var lapCounter = [];
        var lapInfo = [];

        //pole positions and ordinals
        var polePositions = [];
        let poleRecord = 0;
        var poleOrdinals = ["0th", "1st", "2nd", "3rd", "4th", "5th", "6th", "7th", "8th"];

        //post-race variables
        var newRaceRecord;

        //  +++ RACE INITIALIZATION +++

        console.log(raceData.racers);

        //place records into the lapCounter and curLap arrays for each racer
        for(let i = 0; i < raceData.racers.length; i++)
        {
            lapCounter.push(0);
            curLapCount.push(0);
            curLapSec.push(0);
            curLapMin.push(0);
        }

        //websocket variables and functions
        const ws = new WebSocket('ws:localhost:8888');

        //event listeners
        ws.onopen = () =>
        {
            console.log('connected to server: Race View');
        }

        ws.onmessage = (event) =>
        {
            let temp = event.data;
            temp = temp.slice(0, -1);

            let dataArray = temp.split(",");

            //if the first string in dataArray is "detectedRFID", being lap and pole position updates
            if(dataArray[0] == "detectedRFID")
            {
                console.log(raceData.racers);
                //lap information
                for(let x = 0; x < raceData.racers.length; x++)
                {
                    if(raceData.racers[x].vehicleRFID == dataArray[1] && lapCounter[x] < raceData.noOfLaps)
                    {
                        //update lap information
                        console.log("Valid Tag Detected: " + dataArray[1]);
                        lapCounter[x] += 1;
                        lapRecord = lapCounter[x];
                        racerRecord = raceData.racers[x];
                        addNewLap(dataArray);
                        break;
                    }
                    else
                    {
                        console.log("Tag not valid for this race");
                    }
                }
            }
        }

        startBtn.onclick = startRace;

        //timer functions
        function startRace()
        {
            if(timerOn === false)
            {
                if(countDown > 1)
                {
                    countDown -= 1;
                    countDownDiv.innerHTML = "Countdown: " + countDown;
                    ws.send("startCountdown,_");
                    setTimeout(startRace, 1000);
                }
                else
                {
                    countDownDiv.innerHTML = "Countdown: GO!";
                    console.log("timer is on");
                    startBtn.innerHTML = "Pause Race";
                    timerOn = true;
                    raceTimer();
                }

            }
            else
            {
                console.log("timer is off");
                startBtn.innerHTML = "Resume Race";
                timerOn = false;
                raceTimer();
            }
        }

        function raceTimer()
        {
            //actual counter
            if(timerOn == true)
            {
                count++;
                for(let i = 0; i < raceData.racers.length; i++)
                {
                    curLapCount[i]++;
                }
            }

            if(count == 100)
            {
                seconds += 1;
                count = 0;
                for(let i = 0; i < raceData.racers.length; i++)
                {
                    curLapSec[i] += 1;
                    curLapCount[i] = 0;
                }
            }
            if(seconds == 60)
            {
                minutes += 1;
                seconds = 0;
                for(let i = 0; i < raceData.racers.length; i++)
                {
                    curLapMin[i] += 1;
                    curLapSec[i] = 0;
                }
            }

            //counter display
            if(count < 10)
            {
                dSecDisp = "0" + count.toString();
            }
            else
            {
                dSecDisp = count.toString();
            }

            if(seconds < 10)
            {
                secDisp = "0" + seconds.toString();
            }
            else
            {
                secDisp = seconds.toString();
            }

            if(minutes < 10)
            {
                minDisp = "0" + minutes.toString();
            }
            else
            {
                minDisp = minutes.toString();
            }

            stopWatch.innerHTML = minDisp + ":" + secDisp + ":" + dSecDisp;

            if(timerOn == true)
            {
                ws.send("checkRFID" + "," + minDisp + "," + secDisp + "," + dSecDisp);
            }

            setTimeout(raceTimer, 10);
        }

        function addNewLap(dataArray)
        {
            //update pole position information
            if(polePositions.length == 0)
            {
                polePositions.push(dataArray[1]);

                poleRecord += 1;
            }
            else if(polePositions.length > 0)
            {
                let onPolePosition = false;

                for(let y = 0; y < polePositions.length; y++)
                {
                    if(polePositions[y] == dataArray[1])
                    {
                        onPolePosition = true;
                        break;
                    }
                    else
                    {
                        onPolePosition = false;
                    }
                }

                if(onPolePosition == true)
                {
                    polePositions.length = 0;
                    polePositions.push(dataArray[1]);
                    poleRecord = 1;
                }
                else
                {
                    polePositions.push(dataArray[1]);
                    poleRecord += 1;
                }
            }

            var newLap = Object.create(lap);
            var newDate = new Date();
            
            newLap.racerName = racerRecord.racerName;
            newLap.raceVehicle = racerRecord.vehicleNumber;
            newLap.vehicleRFID = dataArray[1];
            newLap.lapTime = dataArray[2] + ":" + dataArray[3] + ":" + dataArray[4];
            newLap.dateMade = newDate.getFullYear().toString() + "-" + newDate.getMonth().toString() + "-" + newDate.getDate().toString();
            

            for(let i = 0; i < raceData.racers.length; i++)
            {
                if(raceData.racers[i].vehicleNumber == racerRecord.vehicleNumber)
                {
                    let tempLapCount = "";
                    let tempLapSec = "";
                    let tempLapMin = "";

                    console.log(curLapMin[i]);
                    console.log(curLapSec[i]);
                    console.log(curLapCount[i]);

                    if(curLapCount[i] < 10)
                    {
                        tempLapCount = "0" + curLapCount[i].toString();
                    }
                    else
                    {
                        tempLapCount = curLapCount[i].toString()
                    }

                    if(curLapSec[i] < 10)
                    {
                        tempLapSec = "0" + curLapSec[i].toString();
                    }
                    else
                    {
                        tempLapSec = curLapSec[i].toString();
                    }

                    if(curLapMin[i] < 10)
                    {
                        tempLapMin = "0" + curLapMin[i].toString();
                    }
                    else
                    {
                        tempLapMin = curLapMin[i].toString();
                    }

                    console.log("newest lap minutes: " + tempLapMin);
                    console.log("newest lap seconds: " + tempLapSec);
                    console.log("newest lap count: " + tempLapCount);

                    newLap.singleLapTime = tempLapMin + ":" + tempLapSec + ":" + tempLapCount;

                    curLapCount[i] = 0;
                    curLapSec[i] = 0;
                    curLapMin[i] = 0;
                }
            }

            newLap.lapNumber = lapRecord;
            newLap.polePosition = poleOrdinals[poleRecord];

            lapInfo.push(newLap);

            // console.log(lapInfo);

            //info for displaying laps is as follows: 
            //      Racer Name, Vehicle Number, Race Time, Single Lap Record, Lap Number, Pole Position

            raceLaps.innerHTML += "<tr><td>" + racerRecord.racerName + "</td><td>" + racerRecord.vehicleNumber + "</td><td>" + dataArray[2] + ":" + dataArray[3] + ":" + dataArray[4] + "</td><td>" + newLap.singleLapTime + "</td><td>Lap " + lapRecord + "/" + raceData.noOfLaps + "</td><td>" + poleOrdinals[poleRecord] + "</td></tr>";

            //console.log("Lap Made By Tag " + dataArray[1] + " at time index " + dataArray[2] + ":" + dataArray[3] + ":" + dataArray[4]);

            checkEnd();
        }

        async function checkEnd()
        {
            console.log("Checking if all racers have finished their laps");

            let endCondition = raceData.racers.length;
            let endCounter = 0;

            for(let i = 0; i < lapCounter.length; i++)
            {
                if(lapCounter[i] == raceData.noOfLaps)
                {
                    endCounter += 1;
                }
            }

            if(endCondition == endCounter)
            {
                console.log("Race Has Concluded");
                timerOn = false;

                var newRaceRecord = 
                {
                    raceDateTime: Date.now(),
                    noOfLaps: raceData.noOfLaps,
                    racers: raceData.racers,
                    lapRecords: lapInfo,
                    finalPositions: polePositions
                };

                var raceRecordData = JSON.stringify(newRaceRecord);
                finishValue.value = raceRecordData;

                startBtn.style.display = "none";
                stopBtn.style.display = "none";
                finishBtn.style.display = "block";
            }
            else
            {
                console.log("Race Has Not Concluded");
            }
        }
    </script>
</body>

</html>