<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>View Vehicle No. <%= vehicle.vehicleNumber %></title>
</head>
<body>
    <h1>View Vehicle No. <%= vehicle.vehicleNumber %> <%= vehicle._id %></h1>
    <table>
        <thead>
            <th>RFID Tag</th>
            <th>Status</th>
            <th></th>
        </thead>
        <tr>
            <td><%= vehicle.tagHex %></td>
            <td><%= vehicle.status %></td>
        </tr>
    </table>

    <h2>Edit Vehilce Details</h2>
    <form action="/viewVehicle/updateVehicle/submit" method="post">
        <input type="hidden" name="vehicleId" value="<%= vehicle._id %>">
        <label for="vehicleNumber">Vehicle Number: </label>
        <input type="number" name="vehicleNumber" value="<%= vehicle.vehicleNumber %>" placeholder="<%= vehicle.vehicleNumber %>">
        <label for="tagHex">RFID Hex Code: </label>
        <input type="text" name="tagHex" id="tagHex" value="<%= vehicle.tagHex %>" placeholder="<%= vehicle.tagHex %>">
        <label for="status">Vehcile Status: </label>
        <input type="text" name="status" id="status" value="<%= vehicle.status %>">
        <button type="submit">Update Vehicle</button>
    </form>
    <form action="/viewVehicle/deleteVehicle/submit">
        <input type="hidden" name="vehicleId" value="<%= vehicle._id %>">
        <input type="hidden" name="vehiceNumber" value="<%= vehicle.vehicleNumber %>">
        <button type="submit">Delete Vehicle</button>
    </form>

    <h2>Maintenance Logs</h2>
    <table>
        <thead>
            <th>Date Started</th>
            <th>Description of Work</th>
            <th>Date Finished/Updated</th>
            <th>Work Done By</th>
        </thead>
        <!-- for each maintenance log -->
        <% logs.forEach(function(log){ %>
        <tr>
            <td><%= log.dateStarted %></td>
            <td><%= log.description %></td>
            <td><%= log.dateFinished %></td>
            <td><%= log.repairedBy %></td>
        </tr>
        <% }); %>
    </table>

    <h3>Add New Log</h3>

    <form action="/viewVehicle/maintenance/submit" method="post">
        <input type="hidden" name="vehicleId" value="<%= vehicle._id %>">
        <input type="hidden" name="vehicleNumber" value="<%= vehicle.vehicleNumber %>">
        <label for="dateStarted">Date Started: </label>
        <input type="date" name="dateStarted">
        <label for="dateFinished">Date Finished: </label>
        <input type="date" name="dateFinished">
        <br>
        <label for="description">Description</label>
        <input type="textarea" name="description">
        <br>
        <label for="repairedBy">Repaired By: </label>
        <input type="text" name="repairedBy">
        <label for="status">Vehicle Status: </label>
        <input type="text" name="status">
        <button type="submit">Add Log</button>
    </form>
</body>
</html>